section {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 35px;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.redes-sociais {
  margin: 200px;
  display: flex;
  gap: 70px;
}

.redes-sociais li {
  list-style-type: none;
}
.redes-sociais a img {
  border: 5px solid #64389e;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  padding: 10px;
  text-align: center;
  font-size: 26px;
  transition: 0.3s;
}

.redes-sociais a img:hover {
  color: #65537e;
  border: 10px solid #65537e;
  transform: scale(1.1);
}
