table {
  box-shadow: 8px -8px 3px -3px #311457, -8px 8px 3px -3px #311457;
  background-color: #1a0b2e;
  padding: 10px;
  border-radius: 3px;
  border-style: groove;
  border-color: slategrey;
}
td {
  border-style: groove;
  padding: 5px;
  border-color: slategrey;
  color: white;
}
section {
  justify-content: center;
  align-items: center;
  margin: 35px;
}
.tabelaLinks {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleNav {
  text-align: center;
}
.linkNav {
  padding: 20px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
