.tabela {
  width: 600px;
  box-shadow: 8px -8px 3px -3px #311457, -8px 8px 3px -3px #311457;
  background-color: #1a0b2e;
  padding: 10px;
  border-radius: 3px;
  border-style: groove;
  border-color: slategrey;
}
.secao {
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.titleNav {
  text-align: center;
}
.linkNav {
  padding: 20px;
}
.title {
  font-size: xx-large;
}
.links:hover a {
  color: #311457;
}
.links a {
  color: #6e3caf;
}
td {
  font-size: larger;
  border-style: groove;
  padding: 5px;
  border-color: slategrey;
  color: white;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-align: center;
}
