body {
  height: 100vh;
}
header {
  text-align: center;
}
nav {
  text-align: center;
  font-size: large;
  text-decoration: none;
}
header img{
  width: 250px;
}

.navtitle {
  text-align: center;
}
.links {
  text-align: center;
  padding: 15px;
}

.imgheader {
  padding: 10px;  
  display: block;  
}
.rodape {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
