header {
  text-align: center;
}
nav {
  text-align: center;
  font-size: large;
  padding-top: 15px;
}
header img {
  width: 250px;
}
h2 {
  font-size: small;
}
.navtitle {
  text-align: center;
}
.links {
  text-align: center;
  padding: 15px;
}

.imgheader {
  padding: 10px;
  display: block;
}
.rodape {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
